.header {
    z-index: 1;
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    padding-top: 8px;
    position: fixed;
    backdrop-filter: none;
    top: 0;
}

.header.menu-open {
    background-color: rgba(4, 6, 21, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.logo {
    display: flex;
    justify-content: flex-end;
    width: 25%;
}

.sections {
    display: flex;
    justify-content: center;
    font-size: 5vh;
    width: 50%;
}

.sections.menu-open {
    display: flex;
    flex-direction: column;
    top: 5.6rem;
    position: fixed;
    width: 100%;
}

.sections.menu-open .child-section {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: rgba(4, 6, 21, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.sections a {
    text-decoration: none;
}

.sections h1 {
    position: relative;
    display: flex;
    padding-bottom: 1.5px;
    transition: transform 0.8s ease;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    padding: 0px 15px 0px 15px;
    margin: 0px 10px
}

.sections h1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    border-bottom: 3px solid #d3f2a3;
    transition: all 0.5s ease;
    transform-origin: center;
}

.sections h1:hover, .sections a:focus {
    transform: scaleX(1);
}

.sections h1:hover:after {
    transform: scaleX(1);
}
.getintouchWrapper {
    display: flex;
    justify-content: flex-start;
    width: 25%;
}

.getintouchWrapper.menu-open {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 20.75rem;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.getintouchWrapper.menu-open .child-button {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0px 25px 0px 25px;
}

.getintouchWrapper.menu-open a{
    text-decoration: none; 
}

.getintouch {
    border-radius: 8px;
    padding: 12px 16px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2em;
    text-align: start;
    color: #363738;
    border: 1px solid transparent;
}

.getintouch.menu-open {
    width: 100%;
    text-align: center;
}

.getintouch:hover {
    cursor: pointer;
}

.burger-menu {
    display: none;
}

@media (max-width: 900px) {

    .header {
        justify-content: space-between;
    }

    .logo {
        justify-content: space-between;
        padding-left: 2rem;
    }

    .sections {
        display: none;
    }

    .getintouchWrapper {
        display: none
    }

    .burger-menu {
        display: block;
        padding-right: 2rem;
    }
}

.backdrop-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(32px);
    z-index: 0;
}

.backdrop-blur.header {
    height: 80px;
}

.backdrop-blur.header-and-menu {
    height: 413px;
}

.backgroundContainer {
    flex: 0 0 auto;
    height: 320px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    transform: perspective(1200px);
    z-index: 0; 
}

.backgroundHeader {
    place-content: center;
    align-items: center;
    display: flex;
    flex-flow: column;
    gap: 0px;
    height: 100%;
    overflow: hidden;
    padding: 0px;
    position: relative;
    width: 100%;
    transition: opacity 1s;
    background: radial-gradient(80.1% 100% at 50% 0%, rgba(38, 140, 245, 0.25) 0%, rgba(38, 140, 245, 0) 100%);
    transition-delay: 50ms;
}

.backgroundHeader.homepage {
    opacity: 1;
}

.backgroundHeader.otherpage {
    opacity: 0;
}

.backgroundHeader.otherpage.active {
    opacity: 1;
}