.landing-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65vh;
    flex-direction: column; 
}

.subheading {
    margin-top: 25px;
    font-size: 22px;
    width: 600px;
    text-align: center;
    line-height: 2.2rem;
}

@media (max-width: 640px) {
    .subheading {
        width: 80vw;
    }
}