.star-particles {
  flex: none;
  height: 80vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  animation: fadeInFromRight 0.5s ease-out forwards;
  animation-delay: 1.5s;
}

@keyframes fadeInFromRight {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}